<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net451" />
  <package id="FluentAssertions" version="4.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net451" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NLog" version="4.2.2" targetFramework="net451" />
  <package id="NLog.Targets.Syslog" version="2.1.6030.21112" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="RichardSzalay.MockHttp" version="1.2.1" targetFramework="net451" />
</packages>